body {
    font-family: arial;
    margin: auto;
}

.combatText {
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.enemies {
    clear: both;
}

#playerIntro {
    float: left;
}
