body {
    font-family: arial;
    margin: auto;
    max-width: 960px;
}
/* start btn */
.start {
    text-align: center;
}
/* story btn */
.instr {
    text-align: center;
}
.combatText {
    clear:both;
    height: 300px;
    border: 10px gray ridge;
    background-color: gray;
    /* makes the scroll bar stay at the bottom */
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.charSelDiv {
    /* center imgs in this div */
    display: flex;
    align-items: center;
    justify-content: center;
}
.charSelDiv>img:hover {
    border-top: 10px rgb(29, 128, 209) groove;
    border-bottom: 10px rgb(29, 128, 209) groove;
    border-top-right-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;
    padding: 20px 0;
}
.enemies {
    clear: both;
    /* center imgs in this div */
    display: flex;
    align-items: center;
    justify-content: center;
}
.enemies>img:hover {
    border-top: 10px rgb(253, 31, 31) groove;
    border-bottom: 10px rgb(253, 31, 31) groove;
    border-top-right-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;
    padding: 20px 0;
}

#playerIntro {
    float: left;
}
/* contains battle opponent */
.enemyDiv {
    float: right;
}
.enemyDiv>h2 {
    clear: both;
    text-align: right;
    float: right;
    width: 100%;
}

.enemyDiv>img {
    border-bottom: 10px rgb(75, 43, 43) ridge;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    padding-bottom: 5px;
    float: right;
}

.playerHP, .enemyHP {
    background-color: rgb(62, 214, 62);
}
.playerMP, .enemyMP {
    background-color: rgb(182, 24, 182);
}
.playerSP, .enemySP {
    background-color: rgb(52, 173, 189);
}
/* contains player during battle */
.playerDiv {
    float: left;
}
.playerDiv>img {
    border-bottom: 10px rgb(88, 89, 93) ridge;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    padding-bottom: 5px;
}

.foeStoryPic {
    float: right;
}
/* battle and story pg btn container */
.actionBtns {
    clear: both;
    text-align: center;
}
.actionBtn {
    padding: 20px;
    margin: auto;
}

@media screen and (max-width: 401px) {
    .charPics>img {
        width: 170px;
        height: 100%;
    }
    /* heh */
    body {
        background-color: red;
    }
}
