body {
    font-family: arial;
    margin: auto;
    max-width: 960px;
    /* background-image: url(./images/floatingCastle.jpg); */
}
/* start btn */
.start {
    text-align: center;
}
/* story btn */
.instr {
    text-align: center;
}
.charPics {
    background-color: rgba(88, 89, 93, 0.609);
    height: 350px;
}
.combatText {
    /* background-image: url('./images/rockywall.png'); */
    clear:both;
    height: 180px;
    border: 10px rgb(224, 224, 224) ridge;
    /* makes the scroll bar stay at the bottom */
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.charSelDiv {
    
    /* center imgs in this div */
    display: flex;
    align-items: center;
    justify-content: center;
}
.charSelDiv>img:hover {
    border-top: 10px rgb(29, 128, 209) groove;
    border-bottom: 10px rgb(29, 128, 209) groove;
    border-top-right-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;
    padding: 20px 0;
}
.enemies {
    clear: both;
    background-color: rgb(88, 89, 93);
    /* center imgs in this div */
    display: flex;
    align-items: center;
    justify-content: center;
}
.enemies>img:hover {
    border-top: 10px rgb(253, 31, 31) groove;
    border-bottom: 10px rgb(253, 31, 31) groove;
    border-top-right-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;
    padding: 20px 0;
}

#playerIntro {
    float: left;
}

/* contains battle opponent */
.enemyDiv {
    float: right;
}

.enemyDiv>h3 {
    clear: both;
    position: relative;
    text-align: center;
    bottom: 18px;
    height: 0;
}

.enemyDiv>h2, .enemyDiv>h4 {
    clear: both;
    text-align: right;
    float: right;
    width: 100%;
    height: 20px;
    border-radius: 0px 15px;
    color: white;
}

.enemyDiv>img {
    border-bottom: 10px rgb(75, 43, 43) ridge;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    padding-bottom: 5px;
    float: right;
    margin: auto 0;
}

.playerHP, .enemyHP {
    background-color: rgb(62, 214, 62);
}
.playerMP, .enemyMP {
    background-color: rgb(182, 24, 182);
}
.playerSP, .enemySP {
    background-color: rgb(52, 173, 189);
}
.playerTime, .enemyTime {
    background-color: rgb(253, 31, 31);
    width: 100%;
}
/* contains player during battle */
.playerDiv, .playerDiv>h2 {
    float: left;
}
.playerDiv>h3 {
    clear:both;
    position: relative;
    text-align: center;
    bottom: 18px;
    height: 0;
}

.playerDiv>h2, .playerDiv>h4 {
    clear: both;
    width: 100%;
    float: left;
    height: 20px;    
    text-align: left;
    border-radius: 15px 0px;
    padding: 0 1px;
    color: white;
}
.playerDiv>img {
    float:left;
    border-bottom: 10px rgb(88, 89, 93) ridge;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    padding-bottom: 5px;
}

.foeStoryPic {
    float: right;
}
/* battle and story pg btn container */
.actionBtns {
    clear: both;
    text-align: center;
}
.actionBtn {
    padding: 20px;
    margin: auto;
}

@media screen and (max-width: 401px) {
    .playerBattlePic, .enemyBattlePic {
        width: 150px;
        height: 100%;
    }
    /* heh */
    body {
        background-color: red;
    }
}
